@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');

:root{
  --Roboto:'Roboto', sans-serif;
  --Rowdies:'Rowdies', cursive;
}

*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
header > h1{
    text-align: center;
    font-family:var(--Roboto);
    color: rgb(53, 52, 52);
    padding: 20px;
    text-transform: uppercase;
}
a{
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    padding: 8px;
    font-family: var(--Roboto);
    font-size: 1.2em;
    color: aliceblue;
    background-color: rgb(53, 52, 52);
    font-weight: bold;
    width: 4em;
    border-radius: 10px;
    border: none;
    outline: none;
    
    transition-duration: 0.5s;
    cursor: pointer;
}
a:hover{
    background-color: rgba(65, 65, 65, 0.973);
}

.veiculos{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    gap: 1.1em;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
.veiculos > p{
    font-family:var(--Roboto) ;
    font-size: 1.3em;
    font-weight: lighter;
}
.veiculos > h1{
    color: rgba(22, 22, 22, 0.986);
    font-family: var(--Rowdies);
    font-weight: 400;
    font-size: 1.6em;
}
.apagar{
    border: none;
    outline: none;
    margin-top: 5px;
    cursor: pointer;
}
.fa-trash{
    font-size: 2em;
    padding: 10px;
    color: rgb(204, 27, 27);
    transition-duration: 0.8s;
}
.fa-trash:hover{
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 50px;
}
span{
    font-size: 0.9em;
    color: rgba(22, 22, 22, 0.849);
    font-family: var(--Roboto);
    font-weight: 500;
}
