.inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 0.5em;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:400px ;
}
input{
    width: 400px;
    height: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    outline: none;
}
input:focus{
    border: 1px solid black;
}
#btn,
#btn-cadastro{
    background-color: rgb(50, 101, 155);
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(25, 55, 87);
}
label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(53, 52, 52);
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(53, 52, 52);
}
.cadastrados{
    display: flex;
    align-items: start;
    flex-direction: column;

}
.cadastrados > p{
    font-family:'Courier New', Courier, monospace ;
    font-size: 1.3em;
    font-weight: bolder;
}